*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

.modal-shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.modal-shadow::before {
  position: absolute;
  width: 100%;
  height: 100%;

  content: "";
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-window {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;

  width: 433px;
  padding: 30px 30px 60px 30px;
  background-color: white;
  border-radius: 8px;
}

.m-title {
  display: inline-block;
  margin: 0 0 16px 0;
  vertical-align: top;

  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #3E3E3E;
}

.m-close {
  display: inline-block;

  position: absolute;
  top: 46px;
  left: 387px;
  width: 12.42px;
  height: 12.42px;
  transform: translate(-50%, -50%);

  padding: 0;
  background-color: white;
  border: none;
}

.m-close::before {
  content: url(../icons/close.png);
}

/*==================================================*/
/*==================================================*/
.notification {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #3E3E3E;

  padding: 10px 0 10px 34px;
  /*34 только тексту он не позиц*/
  margin-bottom: 12px;
  border-radius: 4px;
}

.notification::before {
  position: absolute;
  top: 12px;
  left: 10px;
}

.m-about {
  font-size: 14px;
  line-height: 22px;
  color: #3E3E3E;
  margin: 0 0 32px 0;
}
/*==================================================*/
/*==================================================*/

/*------------inform------------------*/
.inform {
  background-color: #F0F1F3;
}

.inform::before {
  content: url(../icons/information.png);
}
/*----------------------------------*/
/*---------------done---------------*/
.done {
  background-color: #E9F8EB;
}

.done::before {
  content: url(../icons/done.png);
}
/*----------------------------------*/
/*---------------warning---------------*/
.warning {
  background-color: #FFF8E0;
}

.warning::before {
  content: url(../icons/warning.png);
}
/*----------------------------------*/
/*---------------error---------------*/
.error {
  background-color: #FDEAE4;
}

.error::before {
  content: url(../icons/error.png);
}
/*------------///////////----------------------*/


/*-----------buttons--------------*/
.btn {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  padding: 10px 20px;
  border: none;
  border-radius: 4px;
}

.btn-first {
  background-color: #3E56AA;
  color: white;
  margin: 0 12px 0 0;
}

.btn-second {
  background-color: rgba(0, 16, 61, 0.06);
  color:  #2C2D2E;
  border: 1px solid #F0F1F3;
  margin: 0 115px 0 0;
}

.btn-third {
  background-color: white;
  color: #3E56AA;
  padding: 0;
  border: 0;
}
/*-----------/buttons--------------*/